<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.utazukin.ichaival">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:usesCleartextTraffic="true"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name="com.utazukin.ichaival.ArchiveList" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.utazukin.ichaival.ArchiveDetails">
        </activity>
        <activity android:name="com.utazukin.ichaival.ArchiveSearch"/>
        <activity android:name="com.utazukin.ichaival.WebViewActivity"
            android:parentActivityName="com.utazukin.ichaival.SettingsActivity"/>
        <activity
                android:name="com.utazukin.ichaival.ReaderActivity"
                android:configChanges="orientation|keyboardHidden|screenSize"
                android:label="@string/title_activity_reader"
                android:theme="@style/FullscreenTheme">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.utazukin.ichaival.ArchiveList"/>
        </activity>
        <activity
                android:name="com.utazukin.ichaival.SettingsActivity"
                android:label="@string/title_activity_settings"
                android:parentActivityName="com.utazukin.ichaival.ArchiveList">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.utazukin.ichaival.ArchiveList"/>
        </activity>
    </application>

</manifest>